# Core ML & Data Science
pandas
numpy
joblib

# EDA & Visualization
ydata-profiling
sweetviz

# Data Cleaning
scikit-learn
pyjanitor

# Machine Learning Models
xgboost
lightgbm
catboost

# AutoML & Tuning
optuna

# Explainability
shap
matplotlib

# Deployment
fastapi
uvicorn
