# Core ML & Data Science
pandas
numpy

# EDA & Visualization
ydata-profiling
sweetviz

# Data Cleaning
scikit-learn
pyjanitor

# Machine Learning Models
xgboost
lightgbm
catboost

# AutoML & Tuning
optuna
